ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}

.header-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu:hover,
.header-menu:focus {
    color:#404bbf;
}

.address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-mail:hover,
.address-mail:focus {
    color: #404bbf;
}

.address-tel:hover,
.address-tel:focus {
    color: #404bbf;
}

.address-mail {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.address-tel {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.dark-logo {
    color: #2e2f42;
    line-height: 1.17;
}

/* ---------------------HEADER--------------------------- */

body{ 
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
            "wdth" 400,500,700;
            color: #434455;
            background-color:#FFFFFF;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: #404BBF;
    cursor: pointer;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.master-2-Features {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.section-3 {
    background-color: #F4F4FD;
}

.paragraph-1 {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
}

.list-3 {
    background-color: #FFFFFF;
}

.list-team {
    background-color: #FFFFFF;
}

.master-team {

}

.master {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
}
/* navy blue */
.master-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background-color: #2e2f42;
}

.master-2-hero {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.master-team {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.master-featuers {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.paragraph-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    /* slate */
    color: #434455;
}

.master-4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* ----------------FOOTER----------------- */

.footer {
    background-color: #2e2f42;
}

.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.white-logo-footer {
        color: #f4f4fd;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.paragraph-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}